.footer-wrapper{
    display: flex;
    justify-content: space-between;
    border-top: 5px solid white;
    align-items: center;
}

.footer-text{
    font-family: $press-start-font-family;
    font-size: 16px;
    padding-top: 10px;
}

.heart{
    font-size: 24px;
}