.home-button-container {
    position: relative;
    top: 10vh;
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.particle-wrapper {
  border: 5px solid red;
  width: 500px;
  height: 500px;
}
