.skills-wrapper{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-bottom: 75px;
}

@media only screen and (max-width: 425px) {
    .skills-wrapper{
        display : grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}