.game-message{
    color: green;
    font-size: 3em;
    font-weight: bold;
}
.game-alert{
    color: red;
}


.game-intro-container{
  margin-top: 100px;
}

.test{
  width: 50px;
}

.intro-text-line{
  position: relative;
  top: 100%;  
  width: 90%;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 2em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}

.animate-typewriter-cursor{
  width:0;
}

.shooter-icon {
  width: 60px;
  height: 40px;
  padding: 3px;
}

.display-shooter{
  display: visible;
}

.hide-shooter{
  display: none;
}

.bullet {
  display: none;
}