.profile-picture {
    height: 200px;
} 

.about-contact-icon {
    &-github{
        cursor: pointer;
        height: 75px;
    }
    &-linkedin{
        cursor: pointer;
        height: 63px;
        margin-right: 25px;
    }
    &-email{
        cursor: pointer;
        height: 63px;
    }
}

.card-front-image {
    height: 300px;
    width: 300px;
}


@media only screen and (max-width: 768px) {
    .profile-picture {
        height: 150px;
        width: 150px;
        margin-bottom: 20px;
    } 
    .about-contact-icon {
        &-github{
            height: 60px;
        }
        &-linkedin{
            height: 50px;
        }
        &-email{
            height: 50px;
        }
    }
}
